body
{
	background-image:url("../Imagens/background.jpg");
	font-family:verdana;
	font-weight:bold;
}

#body_formPaciente
{
	background-image:url("../Imagens/background_.jpg");
}

.FormUser
{
	float: left;
	margin: 10px;
}

#formLogin
{
	border-style:solid;
	border-color:#194c83;
	background-color:white;
	margin-top:5%;
	margin-left:35%;
	width:25%;
}

.formulario
{
	font-family: verdana;
	width: 80%;
	position:absolute;
	left: 20%;
}

#botao
{
	background-color:#194c83;
	font-family:verdana;
	font-size:0.8em;
	color:#FFFFFF;
	margin-left:60%;
	width:27%;
}

#botao_menu
{
	background-color:#194c83;
	font-family:verdana;
	font-size:1em;
	color:#FFFFFF;
	width:20%;
	float: left;
	margin-left:35px;
}

#botao_menu_iframe
{
	background-color:#194c83;
	font-family:verdana;
	font-size:1em;
	color:#FFFFFF;
	width:20%;
	float: left;
	position:absolute;
	left:46%;
	top:89%;
}

#container
{
	width: 1000px;
}

#menu
{
	width: 77%;
	position:absolute;
	left: 23%;
}

#conteudo
{
	width: 60%;
	right: 100%;
}

#Iframe
{
	width: 70%;
	height: 80%;
	position:absolute;
	left: 14%;
	top: 17%;
}

p
{
	color:#194c83;
	margin-left:15%;
	margin-bottom:0.5%;
	font-size:1em;
}
.caixa
{
	font-family:verdana;
	margin-top:-20px;
	margin-left:15%;
}

h1
{
	color:#FFFFFF;
	margin-left:40%;
	margin-bottom:0%;
	margin-top:10%;
}

#dados
{
	width:50%;
	height:80%;
	margin-top:5%;
	margin-left:25%;
	font-size:1.5em;
}

#cabecalho
{
	color:#65a9d7;
	text-shadow: 1px 1px #000000;
	font-size:1.1em;
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
}

#dadosPaciente
{
	width:100%;
	height:100%;
}

#tabelaPacientes
{
	width:100%;
}
.linha
{
	text-align:center;
}

.dado
{
	font-size:0.85em;
	text-align:center;
}

#alergia
{
	background-color:white;
	margin-top:3%;
	height:50%;
	width:100%;
	border-style:solid;
	border-color:rgb(94,94,94);
	vertical-align:text-top;
	color:#65a9d7;
	text-shadow: 1px 1px #000000;
}

#prontuario
{
	background-color:white;
	margin-top:3%;
	height:40%;
	width:100%;
	border-style:solid;
	border-color:rgb(94,94,94);
	vertical-align:text-top;
	color:#65a9d7;
	text-shadow: 1px 1px #000000;
}

#txtAlergia
{
	width:99.4%;
	height:65px;
	vertical-align:text-top;
}

#txtProntuario
{
	width:99.4%;
	height:110px;
	vertical-align:text-top;
}

.button 
{
   border-top: 1px solid #7fc2eb;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}
.button:hover 
{
   border-top-color: #1a77b5;
   background: #1a77b5;
   color: #ccc;
}
.button:active 
{
   border-top-color: #1b435e;
   background: #1b435e;
}

#sair
{
	margin-left:1300px;
}